* {
   box-sizing: border-box;
 }

 .container{
   width: 1368px; 
   margin: 0 auto;
   font-family: 'Quicksand', sans-serif;   
 }
 
 .header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 30px 36px;
}

 a{
   text-decoration: none;
 }

 .header-navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header-logo{
   color: #000;
   font-size: 32px;
   font-weight: 700;
   letter-spacing: 0.64px; 
 }

 .header-btn-explore{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 98px;
   height: 39px;
   color: #EEE;
   font-size: 16px;    
   font-weight: 700;
   border-radius: 4px;
   background: #0F8277; 
   padding-left: 12px;
   margin: 0 44px; 
   border: none;
   position: relative;              
 }

 .header-btn-explore::after{
   content: '';
   position: absolute;
   width: 8px;
   height: 14px;
   margin-left: 8px; 
   right: 8px;
   background-image: url(/images/svg/Frame\ 1.svg);
 }

.menu-explover ul{
   position: absolute;
   top: 43px;
   left: 0;
   width: 384px;
   padding: 16px 12px 33px 12px;
   background: #FFF;
   box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);  
   display: none;
}

 .header-btn-explore:hover ul{
   display: block;
 }

 .menu-explover-courses,
 .menu-explover-goals,
 .menu-explover-themes{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 16px;
   position: relative;
 }

 .menu-explover-courses{
   margin-bottom: 40px;
 }

 .menu-explover-courses::after{
   content: '';
   position: absolute;
   border-bottom: 1px solid #404040;
   bottom: -40px;
   left: 0;
   right: 0;
 }

 .menu-wrapper{
   display: flex;
   width: 360px;
   flex-direction: column;
   align-items: flex-start;
   gap: 40px; 
 }

 .menu-explover-title{
   color: #000;   
   font-size: 16px;   
   font-weight: 700;
   line-height: 120%;
   margin: 40px 0 8px 0;   
 }

 .menu-explover-courses li a,
 .menu-explover-goals li a,
 .menu-explover-themes li a{
   color: #000;   
   font-size: 16px;   
   font-weight: 500;
   line-height: 120%;  
   display: block;
   text-align: start;
   width: 360px;
}

 .menu-explover-courses li a:hover,
 .menu-explover-goals li a:hover,
 .menu-explover-themes li a:hover{
   background-color: #EEE;
 }

 .header-search{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   width: 330px;
   padding-left: 12px;
   border-radius: 4px;
   border: 1px solid #5C5C5C;      
}

.input-search{
   color: #5C5C5C;
   font-size: 16px;
   font-weight: 500;
   border: none;
   outline: none;
}

.btn-search{
   float: left;
   width: 36px ;
   height: 36px;
   background-color: #0F8277;
   border-radius: 0 3px 3px 0;
   border-left: 1px solid #5C5C5C;
   border: none;
}

.header-navigation{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 521px;
}

.courses,
.training{
   color: #000;
   font-size: 16px;
   font-weight: 500;
}

.training{
   margin-right: 104px;
   margin-left: 48px;
}

.log-in,
.sign-up{
   color: #0F8277;
   font-size: 16px;
   font-weight: 700;
}

.sign-up{
   padding: 10px 12px;   
   border-radius: 4px;
   background: #0F8277; 
   color: #EEE;
   margin-left: 16px;
   border: none;
}

/* Learn comfortably */
.learning{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   width: 1296px;
   height: 602px; 
   border-radius: 12px;
   background: #DBF3ED;  
   margin: 0 36px;
}

.learning-title{
   color: #000;
   font-size: 56px;
   font-weight: 700;
   line-height: 120%;
}

.learning-description{
   width: 482px; 
   color: #000;
   font-size: 22px;
   font-weight: 600;
   margin: 32px 0;
   line-height: 120%;
}

.button-wrapper{
display: flex;
justify-content: flex-start;

}

.btn-start-learning,
.btn-learn-more{
   display: flex;
   padding: 10px 12px;
   justify-content: center;
   align-items: center;   
   font-size: 16px;   
   font-weight: 700;
   border-radius: 4px;
   
}
.btn-start-learning{    
   background: #0F8277;
   margin-right: 24px;
   border: none;
}

.btn-start-learning a{
   color: #EEE;
}

.btn-learn-more{   
   border: 2px solid #0F8277; 
}

.btn-learn-more a{
   color: #0F8277;
}

.learning-hero{
   text-align: center;
   width: 800px;
   height: 533px; 
}  

.learn-comfortably{
   width: 628px;
   display: flex;
   flex-direction: column;
   margin-left: 110px;
}

/* Choose the best program for you */
.program-for-you{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 80px 36px;

}
.program-subtitle-over,
.courses-subtitle-over{
   display: flex;
   align-items: center;
   height: 24px;
   color: #0F8277;   
   font-size: 20px;   
   font-weight: 700; 
   line-height: 120%;
}

.program-for-you-title,
.courses-title{
   display: flex;
   align-items: center;
   height: 48px;
   color: #000;
   font-size: 40px;
   font-weight: 700;
   margin: 12px 0;
   line-height: 120%;
}

.program-subtitle-under,
.courses-subtitle-under{
   display: flex;
   align-items: center;
   height: 24px;
   color: #000;   
   font-size: 20px;   
   font-weight: 500; 
   line-height: 120%;   
}

.it-education{
   display: flex;
   height: 480px;
   align-items: flex-start;
   gap: 24px;     
   margin-top: 40px;
} 

.dan-it,
.european-university,
.projector{
   border: 1px solid #f6f6f6;
   border-radius: 10px;
}

.education-img{
   width: 416px;
   height: 270px;
   border-radius: 10px 10px 0 0;
}

.education-card-content,
.eu-card-content,
.projector-card-content{
   display: flex;
   width: 416px;
   height: 210px;
   padding: 24px 16px;   
   flex-direction: column;   
   justify-content: space-between;
   align-items: flex-start; 
 }

 .education-logo,
 .eu-logo,
 .projector-logo{
   display: flex;
   flex-direction: column;
  }

.education-logo p,
.eu-logo p,
.projector-logo p{
   color: #000; 
   font-size: 16px;
}

.education-name{
   display: flex;
   align-items: center;
   gap: 12px;
   white-space: nowrap;
}

.education-title,
.eu-title,
.projector-title,
.design-title,
.full-stack-title,
.qa-title,
.smm-title{  
   color: #000;   
   font-size: 24px;   
   font-weight: 700; 
   padding-top: 16px;
   line-height: 120%;
}

.get-diploma{
   display: flex;
   align-items: center;
   gap: 12px;
}

.get-diploma p,
.cours{
   color: #0F8277; 
   font-size: 16px;
   font-weight: 500; 
}

/* Popular courses on our platform */
.courses-dan-it{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 0 36px;
}
.popular-courses{
   display: flex;
   height: 480px;
   align-items: flex-start;
   gap: 24px;  
   margin: 40px 0;  
} 

.design,
.full-stack,
.qa,
.smm{
   border: 1px solid #f6f6f6;
   border-radius: 10px;
}
 
.courses-img{
   width: 306px;
   height: 270px;
   border-radius: 10px 10px 0 0;   
}

.design-card-content,
.full-stack-card-content,
.qa-card-content,
.smm-card-content{
   display: flex;
   width: 306px;
   height: 210px;
   padding: 24px 16px;   
   flex-direction: column;   
   justify-content: space-between;
   align-items: flex-start; 
 }

 .more-topics{
   display: flex;
   justify-content: center;
   align-items:center;
   width: 100%;
   gap: 16px;
}

.more-topics p{
   color: #0F8277; 
   font-size: 20px;
   font-weight: 700; 
}

/* Featured topics by category */
.featured-topics{
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   margin: 80px 36px;
   gap: 40px;
}

.featured-topics-name{
   color: #000;
   font-size: 40px;
   font-weight: 700; 
   line-height: 120%;
}

.featured-topics-category{
   display: flex;
   justify-content: center;
   align-items:center;
   gap: 24px;
}

.category-wrapper{
   display: flex;
   flex-direction: column;
   align-items:flex-start;
   width: 306px;
   gap: 32px;
}

.featured-topics-title{
   color: #000;
   font-size: 24px;
   font-weight: 700; 
   line-height: 120%;
}

.featured-topics-subtitle{
   color: #0F8277;
   font-size: 20px;
   font-weight: 700; 
   line-height: 120%;
}

.amount-of-students{
   color: #000;   
   font-size: 16px;   
   font-weight: 500; 
   margin-top: 10px;
}

/* We cooperate with universities and companies */
.partners{
   display: flex;
   justify-content: center;
   align-items:center;
   width: 100%;
   background: #DBF3ED; 
}
.partners-wrappers{
   display: flex;
   width: 1296px;
   flex-direction: column;
   align-items: center;
   gap: 60px; 
   padding: 80px 0;
}
.partners-title{
   width: 871px;   
   color: #000;
   text-align: center;
   font-size: 40px;
   font-weight: 700;  
   line-height: 120%;  
}
.partners-icon{
   display: flex;
   justify-content:space-between ;
   align-items:center;
   width: 1296px;
}

/* The ideal solution for your business */
.bussines{
   display: flex;
   margin: 80px 36px 70px;
   gap: 72px;
   }

.bussines-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:flex-start;
   gap: 32px;   
}

.bussines-content-title{
   width: 636px;
   color: #000;
   font-size: 40px;
   font-weight: 700; 
   line-height: 120%;
}

.bussines-content-solution{
   width: 568px;
   color: #000;
   font-size: 22px;
   font-weight: 600; 
   line-height: 120%;
}

.btn-contact-sales{
   display: flex;
   padding: 10px 12px;
   justify-content: center;
   align-items: center;
   gap: 10px; 
   border-radius: 4px;
   background: #0F8277;     
   font-size: 16px;   
   font-weight: 700; 
   border: none;
}

.btn-contact-sales a{
   color: #EEE;
}

.academic-training{
   display: grid;
   grid-template-rows: repeat(3, 136px);
   grid-template-columns: repeat(3, 196px);
   justify-items: center;
   align-items: center;
   position: relative;
}

.academic-training::before{
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   bottom: 136px;
   border-bottom: 1px solid #BABABA; 
}
.academic-training::after{
   content: '';
   position: absolute;
   top: 136px;
   left: 0;
   right: 0;
   border-bottom: 1px solid #BABABA; 
} 

.img-bussines-tata::after{
   content: "";
   position: absolute;
   top: 138px;
   bottom: 138px;
   left: 196px;
   border-left: 1px solid #BABABA;
}

.img-bussines-tata::before{
   content: "";
   position: absolute;
   top: 138px;
   bottom: 138px;
   right: 196px;
   border-right: 1px solid #BABABA;
}

.img-bussines-pg::after{
   content: "";
   position: absolute;
   top: 0;
   bottom: 272px;
   left: 196px;
   border-left: 1px solid #BABABA;
}

.img-bussines-pg::before{
   content: "";
   position: absolute;
   top: 0;
   bottom: 272px;
   right: 196px;
   border-right: 1px solid #BABABA;
}

.img-bussines-ge::after{
   content: "";
   position: absolute;
   top: 272px;
   bottom: 0;
   left: 196px;
   border-left: 1px solid #BABABA;
}

.img-bussines-ge::before{
   content: "";
   position: absolute;
   top: 272px;
   bottom: 0;
   right: 196px;
   border-right: 1px solid #BABABA;
}

/* Choose a plan that matches your career goals */
.price-wrapper{
   padding: 80px 36px 100px;
   background: #DBF3ED; 
}

.price-title{
   color: #000;
   text-align: center;
   font-size: 40px;
   font-weight: 700; 
   line-height: 120%;
}
.plan-wrapper{
   display: flex;
   justify-content: center;
   gap: 24px;
   margin-top: 40px;
}
.one-payment,
.monthly-payment,
.annual-payment{
   display: flex;
   flex-direction: column;
   align-items:center;
   width: 416px;
   height: 698px;
   padding: 56px;
   border-radius: 24px;
   border: 1px solid #0F8277;    
}

.one-payment,
.annual-payment{
   background: #FDFDFD; 
}

.monthly-payment{
   background: #0F8277; 
}

.one-payment-plan,
.monthly-payment-plan,
.annual-payment-plan{
   display: flex;
   flex-direction: column;
   align-items:center;
   width: 304px;
   height: 286px;
   gap: 27px; 
   position: relative;  
}

.one-payment-title,
.monthly-payment-tittle,
.annual-payment-title{
   width: 304px;
   height: 29px;
   color: #000;
   text-align: center;   
   font-size: 24px;   
   font-weight: 700;
   line-height: 120%;
}

.annual-payment-title{
   height: 58px;
}

.monthly-payment-tittle{
   height: 58px;
   color: #FFF; 
}

.one-payment-subtitle,
.annual-payment-subtitle,
.monthly-payment-subtittle{
   width: 304px;
   height: 38px;
   color: #000;
   text-align: center;   
   font-size: 16px;   
   font-weight: 500;
   line-height: 120%;
}

.monthly-payment-subtittle{
   height: 57px;
   color: #FFF; 
}

.price-one-payment,
.price-monthly-payment,
.price-annual-payment{
   display: flex;
   width: 304px;
   justify-content: center;
   align-items: center;
   gap: 16px; 
}

.price{
   color: #000;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   line-height: 120%;
}

.price-monthly-payment .price,
.price-monthly-payment .for{
   color: #FFF; 
}

.for{
   color: #000;  
   font-size: 16px;   
   font-weight: 500;
   line-height: 120%; 
   text-transform: uppercase; 
}

.get-one-payment,
.get-monthly-payment,
.get-annual-payment{
   display: flex;
   padding: 10px 12px;
   justify-content: center;
   align-items: center;
   gap: 10px; 
   width: 119px;
   height: 42px;
   border-radius: 4px;
   background: #0F8277;   
   color: #F6FDFF;
   font-family: Cabin;
   font-size: 18px;   
   font-weight: 500;
   position: absolute;
   bottom: 0;
}

.get-monthly-payment{
   color: #FFF; 
   border: 2px solid #FFF;
}
.one-payment-plan::after,
.monthly-payment-plan::after,
.annual-payment-plan::after{
   content: '';
   position: absolute;
   bottom: -48px;
   left: 0;
   right: 0;
   height: 2px;
   border-radius: 80px;
   background: #0F8277; 
} 

.monthly-payment-plan::after{
   height: 1px; 
   background: #FFF; 
}

.annual-payment-plan::after{
   height: 1px; 
}

.list-item{
   display: flex;
   align-items: flex-start;
   gap: 16px;
   align-self: stretch; 
   margin-top: 96px; 
}

.list-item-next{
   display: flex;
   align-items: flex-start;
   gap: 16px;
   align-self: stretch; 
   margin-top: 16px; 
}

.bullit-white,
.bullit-green{
   display: flex;
   width: 16px;
   height: 16px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px; 
   border-radius: 500px;
   background: #0F8277;    
}

.bullit-green{
   background: #FFF; 
}

.list-black,
.list-white{
   width: 264px; 
   color: #000;
   font-size: 16px;
   font-weight: 500;
   line-height: 120%;   
}
.list-white{
   color: #FFF; 
}

/* Photos of our students */
.students-block{
   margin: 80px 36px 76.5px 36px;  
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px; 
}

.block-title{
   color: #000;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   line-height: 120%;
}

.students-photos{
   display: grid;
   grid-template-columns: repeat(4, 306px);
   grid-template-rows: repeat(3, 210.5px);
   column-gap: 24px;
   row-gap: 23.5px;
}

.students-photos img{
   width: 306px;
   height: 210.5px;
   flex-shrink: 0; 
}
.students-photos .img-student-9{
   width: 636px;
   height: 445px;
   flex-shrink: 0; 
}

.img-student-1{
   grid-area: 1/1/2/2;
}
.img-student-2{
   grid-area: 2/1/3/2;
}
.img-student-3{
   grid-area: 3/1/4/2;
}
.img-student-4{
   grid-area: 3/2/4/3;
}
.img-student-5{
   grid-area: 3/3/4/4;
}
.img-student-6{
   grid-area: 3/4/4/5;
}
.img-student-7{
   grid-area: 2/4/3/5;
}
.img-student-8{
   grid-area: 1/4/2/5;
}
.img-student-9{
   grid-area: 1/2/3/4;
}

/* Contact Us */
.contact-block{   
   width: 1368px;
   height: 727px;
   background:url(/images/image\ 32.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 65px 402px 48px 401px;
}

.contact-form{
   display: flex;
   width: 565px;
   padding: 30px;
   flex-direction: column;
   align-items: flex-start;
   gap: 24px; 
   border-radius: 24px;
   background: #DBF3ED;
}

.contact-title{
   width: 505px; 
   color: #000;
   text-align: center;
   font-size: 40px;
   font-weight: 700;
   line-height: 120%;
}

.contact-subtitle{
   width: 505px; 
   color: #000;
   text-align: center;   
   font-size: 20px;   
   font-weight: 500;
   line-height: 120%;
}

.contact-name,
.contact-email,
.write-message{
   display: flex;
   width: 505px;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;   
}

.name,
.email,
.message{
   color: #000;
   font-size: 22px;
   font-weight: 600;
   line-height: 24px;
}

#input-name,
#input-email,
#input-message{
   width: 505px;
   padding: 12px;  
   color: #8E8E8E;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px; 
   border-radius: 4px;
   border: 1px solid #0F8277;
}

#input-message{      
   height: 104px;  
}

.btn-send{
   display: flex;
   width: 196px;
   padding: 10px 12px;
   justify-content: center;
   align-items: center;  
   border-radius: 4px;
   background: #0F8277; 
   color: #F6FDFF;   
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 0.72px; 
}

.footer{
   display: flex;
   padding: 64px 36px;
   justify-content: space-between;
   gap: 684px; 
   background: #F1F1F1; 
}

.left-footer{
   display: flex;
   flex-direction: column;   
   gap: 16px; 
}

.footer-title{
   color: #000;
   font-size: 32px;
   font-weight: 700;
   line-height: 120%;
   letter-spacing: 0.64px; 
}

.footer-subtitle{
   width: 306px; 
   color: #000;
   font-size: 16px;
   font-weight: 500;
   line-height: 120%;
}

.right-footer{
   display: flex;
   flex-direction: column;
   gap: 60px;
}

.social-wrapper{
   display: flex;
   justify-content: flex-end;
   gap: 24px
}

.social-wrapper a{
   width: 32px;
   height: 32px; 
   background-repeat: no-repeat;
   background-size: cover;
}

.icon-instagram{   
   background: url(/images/svg/instagram.svg);   
}
.icon-facebook{  
   background: url(/images/svg/facebook.svg);  
}
.icon-link-in{ 
   background: url(/images/svg/link-in.svg);   
} 

.copyright{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 4px;
   width: 306px; 
   color: #000;
   font-size: 16px;
   font-weight: 500;
   line-height: 120%;   
}

.copyright img{
   width: 12px;
}



